<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>watch_custom WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>watch_custom WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>watch_custom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F2FFB661FCA4C8E005A36E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F2FFB7A1FCA4C8E005A36E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F2FFB851FCA4C8E005A36E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F2FFB8E1FCA4C8E005A36E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
